API — Dashboard Financeiro Pensao.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "id": "trigger-meio-dia-contratos",
      "name": "Meio dia",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [420, 160]
    },
    {
      "parameters": {
        "jsCode": "const totalPaginas = 200;\n\nreturn Array.from({ length: totalPaginas }, (_, i) => ({\n  json: {\n    pagina: i + 1\n  }\n}));"
      },
      "id": "code-gerar-paginas",
      "name": "Code — Gerar Páginas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 160]
    },
    {
      "parameters": {
        "url": "=https://apps.superlogica.net/imobiliaria/api/contratos?pagina={{ $json.pagina }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "App-token",
              "value": "7f17f470-9ecd-4516-9b45-6c937ad3c51c"
            },
            {
              "name": "Access-token",
              "value": "d0be694d-f18b-439c-8b04-19ce4ec5bc70"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-contratos-superlogica",
      "name": "HTTP — Contratos Superlogica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 160]
    },
    {
      "parameters": {
        "jsCode": "function parseDateBR(dataStr) {\n  if (!dataStr) return null;\n  const partes = String(dataStr).split('/');\n  if (partes.length !== 3) return null;\n  const [mes, dia, ano] = partes;\n  return `${ano}-${String(mes).padStart(2, '0')}-${String(dia).padStart(2, '0')}`;\n}\n\nfunction toNumber(valor) {\n  if (!valor) return 0;\n  const n = Number(String(valor).replace(/\\./g, '').replace(',', '.'));\n  return isNaN(n) ? 0 : n;\n}\n\nfunction clean(v) {\n  return v === null || v === undefined ? '' : String(v).trim();\n}\n\nlet contratos = [];\n\nif (Array.isArray($json?.data)) {\n  contratos = $json.data.map(i => i?.data || i).filter(Boolean);\n} else if (Array.isArray($json)) {\n  contratos = $json.map(i => i?.data || i).filter(Boolean);\n}\n\nreturn contratos.map(contrato => {\n  const loc = (contrato.inquilinos || [])[0] || {};\n  const prop = (contrato.proprietarios_beneficiarios || [])[0] || {};\n\n  return {\n    json: {\n      id_contrato: clean(contrato.id_contrato_con),\n      identificador: clean(contrato.st_identificador_imo),\n      endereco: clean(contrato.st_endereco_imo),\n      numero: clean(contrato.st_numero_imo),\n      complemento: clean(contrato.st_complemento_imo),\n      bairro: clean(contrato.st_bairro_imo),\n      cep: clean(contrato.st_cep_imo),\n      inicio_contrato: parseDateBR(contrato.dt_inicio_con),\n      fim_contrato: parseDateBR(contrato.dt_fim_con),\n      valor_aluguel: toNumber(contrato.vl_aluguel_con),\n      garantia_tipo: clean(contrato.fl_garantia_con),\n      garantia_codigo: clean(contrato.fl_tipocaucaogarantia_con),\n      garantia_descricao: clean(contrato.st_descricaogarantia_con),\n      taxa_administracao: toNumber(contrato.tx_adm_con),\n      dia_vencimento: clean(contrato.nm_diavencimento_con),\n      mes_reajuste: clean(contrato.nm_mesreajuste_con),\n      inicio_seguro: parseDateBR(contrato.dt_seguroincendioinicio_con),\n      fim_seguro: parseDateBR(contrato.dt_seguroincendiofim_con),\n      nome_locatario: clean(loc.st_fantasia_pes),\n      telefone_locatario: clean(loc.st_celular_pes || loc.st_telefone_pes),\n      email_locatario: clean(loc.st_email_pes),\n      cpf_locatario: clean(loc.st_cnpj_pes),\n      nome_proprietario: clean(prop.st_nome_pes),\n      telefone_proprietario: clean(prop.st_celular_pes || prop.st_telefone_pes),\n      email_proprietario: clean(prop.st_email_pes),\n      cpf_proprietario: clean(prop.st_cnpj_pes)\n    }\n  };\n}).filter(i => i.json.id_contrato);"
      },
      "id": "code-normaliza-contratos",
      "name": "Code — Normaliza Contratos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 160]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pensao_contratos (\n  id_contrato,\n  identificador,\n  endereco,\n  numero,\n  complemento,\n  bairro,\n  cep,\n  inicio_contrato,\n  fim_contrato,\n  valor_aluguel,\n  garantia_tipo,\n  garantia_codigo,\n  garantia_descricao,\n  taxa_administracao,\n  dia_vencimento,\n  mes_reajuste,\n  inicio_seguro,\n  fim_seguro,\n  nome_locatario,\n  telefone_locatario,\n  email_locatario,\n  cpf_locatario,\n  nome_proprietario,\n  telefone_proprietario,\n  email_proprietario,\n  cpf_proprietario,\n  atualizado_em\n)\nVALUES (\n  '{{ $json.id_contrato }}',\n  '{{ $json.identificador.replace(/'/g, \"''\") }}',\n  '{{ $json.endereco.replace(/'/g, \"''\") }}',\n  '{{ $json.numero.replace(/'/g, \"''\") }}',\n  '{{ $json.complemento.replace(/'/g, \"''\") }}',\n  '{{ $json.bairro.replace(/'/g, \"''\") }}',\n  '{{ $json.cep.replace(/'/g, \"''\") }}',\n  {{ $json.inicio_contrato ? \"'\" + $json.inicio_contrato + \"'\" : \"NULL\" }},\n  {{ $json.fim_contrato ? \"'\" + $json.fim_contrato + \"'\" : \"NULL\" }},\n  {{ $json.valor_aluguel || 0 }},\n  '{{ $json.garantia_tipo.replace(/'/g, \"''\") }}',\n  '{{ $json.garantia_codigo.replace(/'/g, \"''\") }}',\n  '{{ $json.garantia_descricao.replace(/'/g, \"''\") }}',\n  {{ $json.taxa_administracao || 0 }},\n  {{ $json.dia_vencimento || \"NULL\" }},\n  {{ $json.mes_reajuste || \"NULL\" }},\n  {{ $json.inicio_seguro ? \"'\" + $json.inicio_seguro + \"'\" : \"NULL\" }},\n  {{ $json.fim_seguro ? \"'\" + $json.fim_seguro + \"'\" : \"NULL\" }},\n  '{{ $json.nome_locatario.replace(/'/g, \"''\") }}',\n  '{{ $json.telefone_locatario.replace(/'/g, \"''\") }}',\n  '{{ $json.email_locatario.replace(/'/g, \"''\") }}',\n  '{{ $json.cpf_locatario.replace(/'/g, \"''\") }}',\n  '{{ $json.nome_proprietario.replace(/'/g, \"''\") }}',\n  '{{ $json.telefone_proprietario.replace(/'/g, \"''\") }}',\n  '{{ $json.email_proprietario.replace(/'/g, \"''\") }}',\n  '{{ $json.cpf_proprietario.replace(/'/g, \"''\") }}',\n  NOW()\n)\nON CONFLICT (id_contrato)\nDO UPDATE SET\n  identificador = EXCLUDED.identificador,\n  endereco = EXCLUDED.endereco,\n  numero = EXCLUDED.numero,\n  complemento = EXCLUDED.complemento,\n  bairro = EXCLUDED.bairro,\n  cep = EXCLUDED.cep,\n  inicio_contrato = EXCLUDED.inicio_contrato,\n  fim_contrato = EXCLUDED.fim_contrato,\n  valor_aluguel = EXCLUDED.valor_aluguel,\n  garantia_tipo = EXCLUDED.garantia_tipo,\n  garantia_codigo = EXCLUDED.garantia_codigo,\n  garantia_descricao = EXCLUDED.garantia_descricao,\n  taxa_administracao = EXCLUDED.taxa_administracao,\n  dia_vencimento = EXCLUDED.dia_vencimento,\n  mes_reajuste = EXCLUDED.mes_reajuste,\n  inicio_seguro = EXCLUDED.inicio_seguro,\n  fim_seguro = EXCLUDED.fim_seguro,\n  nome_locatario = EXCLUDED.nome_locatario,\n  telefone_locatario = EXCLUDED.telefone_locatario,\n  email_locatario = EXCLUDED.email_locatario,\n  cpf_locatario = EXCLUDED.cpf_locatario,\n  nome_proprietario = EXCLUDED.nome_proprietario,\n  telefone_proprietario = EXCLUDED.telefone_proprietario,\n  email_proprietario = EXCLUDED.email_proprietario,\n  cpf_proprietario = EXCLUDED.cpf_proprietario,\n  atualizado_em = NOW();",
        "options": {}
      },
      "id": "postgres-upsert-contratos",
      "name": "Postgres — Upsert Contratos",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 160],
      "credentials": {
        "postgres": {
          "id": "EFOBIIxM011PBfKM",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Meio dia": {
      "main": [
        [
          {
            "node": "Code — Gerar Páginas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Gerar Páginas": {
      "main": [
        [
          {
            "node": "HTTP — Contratos Superlogica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Contratos Superlogica": {
      "main": [
        [
          {
            "node": "Code — Normaliza Contratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Normaliza Contratos": {
      "main": [
        [
          {
            "node": "Postgres — Upsert Contratos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}